.step {
  margin: 15px;
  cursor: pointer;

  .method, .uri, .actionName, .failStepIcon {
    display: inline-block;
    vertical-align: top;
  }

  .method {
    font-size: 13px;
    font-weight: 500;
    margin-top: 2px;
  }

  .method.GET {
    color: #7ccf22;
  }

  .method.POST {
    color: #f5a623;
  }

  .method.HEAD {
    color: #212121;
  }

  .method.PUT {
    color: #488ad7;
  }

  .method.DELETE {
    color: #e24946;
  }

  .uri {
    margin-left: 10px;
  }

  .actionName {
    float: right;
    color: #737785;
    font-size: 14px;
    font-weight: 200;
    font-style: italic;
  }

  .failStepIcon {
    margin-top: 2px;
    margin-left: -16px;
    fill: rgba(255, 0, 0, 0.5);
  }
}
