@import '../../constants';

.stepOverview {
  width: 700px;
  z-index: 999;
  background: #fff;
  border-left: solid 1px rgba($primary-color, 0.3);
  overflow-y: auto;

  .header {

    .stepTitle {
      display: inline-block;
      font-size: 28px;
      margin: 25px 0 0 25px;
      font-weight: 300;
    }

    .closeIcon {
      display: inline-block;
      float: right;
      margin: 25px 25px 0 0;
    }
  }

  .summary {
    .startedAt {
      margin: 0 0 25px 25px;
      color: #737785;
      font-size: 14px;
      font-weight: 200;
      font-style: italic;
      border: none;
      background: none;
    }
  }

  .content {
    .tabs {
      height: 50px;
      display: flex;
      justify-content: space-around;

      .tab {
        align-items: center;
        background-color: #fff;
        cursor: pointer;
        height: 50px;
        justify-content: center;
        line-height: 50px;
        min-width: 150px;
        text-transform: none;

        a {
          padding: 0;
          font-size: 20px;
          color: rgb(70, 78, 100);
          font-weight: 200;
        }
      }

      .tab.disabled {
        pointer-events: none;
        cursor: inherit;

        a {
          color: rgb(190, 193, 204);
        }
      }

      .indicator {
        background-color: $primary-color !important;
      }
    }

    .response {
      padding: 25px;
      overflow-y: auto;
      height: calc(100% - 165px);

      pre, .json-pretty, #json-pretty {
        overflow: initial !important;
      }

      .json-key {
        color: #00796B;
      }

      .json-string {
        color: sandybrown;
      }

      .json-boolean {
        color: #536DFE;
      }

      .json-value {
        color: #536DFE;
      }
    }

    .error {
      font-weight: 300;
      height: 25px;
    }
  }
}